Mounts
app/public/exports
app/public/demo/imgs
app/public/py
app/public/json
app/public/tailwind
app/public/tests
app/vendor2
.idea
app/public/imgs/user
config
stripeWebhook.php
wtkServerInfoALEC.php
app/public/tailwind1
app/public/mktg
